@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,500;6..12,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    font-family: 'Nunito Sans', sans-serif;
    color: $text-color;
    margin: 0;
    padding: 0;
}

.container {
	width: 1140px;
	margin: 0 auto;
}

body {
    background-color: $theme-color;
}

html {
    scroll-behavior: smooth;
}

.divider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 25px auto 0 auto;
}

.monospace {
    font-family: 'Roboto Mono', monospace;
}

@import 'blocks/title';
@import 'blocks/btn';
@import 'blocks/promo';
@import 'blocks/side-panel';
@import 'blocks/menu';
@import 'blocks/about';
@import 'blocks/resume';
@import 'blocks/skills';
@import 'blocks/works';
@import 'blocks/price';
@import 'blocks/contacts';
@import 'blocks/policy';
@import 'blocks/media';