.title {
	font-size: 36px;
	font-weight: 700;
	line-height: 60px;
	margin: 0;
	&_fz14 {
		font-size: 14px;
		line-height: 21px;
	}
	&_fz16 {
		font-size: 16px;
		line-height: 24px;
	}
	&_fz20 {
		font-size: 20px;
		line-height: normal;
	}
	&_fz36 {
		font-size: 36px;
	}
	&_fz48 {
		font-size: 48px;
	}
	&_circle {
		position: relative;
		z-index: 1;
		padding-left: 12px;

		@include before-circle;
	}
	&__section-title {
			position: relative;
			margin-bottom: 6px;
			text-align: center;
			@include before-circle;
			&:before {
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
	}
	&__section-subtitle {
		text-align: center;
	}
}